@model TBBookAuthorApp.Models.ViewModels.BookDetailsVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>BookDetailsVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" readonly/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" readonly/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PublicationYear" class="control-label"></label>
                <input asp-for="PublicationYear" class="form-control" readonly/>
                <span asp-validation-for="PublicationYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAuthors" class="control-label"></label>
                <input asp-for="NumberOfAuthors" class="form-control" readonly/>
                <span asp-validation-for="NumberOfAuthors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@if (Model != null)
{
    <h4>Authors</h4>
    <a asp-action="CreateAuthor" asp-controller="Author" asp-route-id="@Model.Id">
    Add Author
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var author in Model.Authors)
            {
                <tr>
                    <td>
                        @author.Id
                    </td>
                    <td>
                        @author.FirstName @author.LastName
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Author" asp-route-id="@Model.Id" asp-route-authorId="@author.Id">Edit</a> |
                        <a asp-action="DeleteGet" asp-controller="Author" asp-route-id="@Model.Id" asp-route-authorId="@author.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
